<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phaseshiftlab.languagelib">
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar.TranslucentDecor">
        <provider
            android:name=".SpellingProvider"
            android:authorities="com.phaseshiftlab.languagelib.spellingprovider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".UserDictionaryProvider"
            android:authorities="com.phaseshiftlab.languagelib.userdictionaryprovider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".StatisticsProvider"
            android:authorities="com.phaseshiftlab.languagelib.statisticsprovider"
            android:enabled="true"
            android:exported="false" />
        <activity android:name=".UserDictionaryActivity" />
    </application>
</manifest>