<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phaseshiftlab.cyrilliscript">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_quill_icon"
        android:label="@string/ime_name"
        android:theme="@android:style/Theme.Material.NoActionBar.TranslucentDecor">
        <service
            android:name=".SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service android:name=".statswidget.StatsWidgetService" />

        <receiver android:name=".statswidget.StatsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />

    </application>

</manifest>